[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
langchain-huggingface = "*"
langchain-openai = "*"
faiss-cpu = "*"
pypdf = "*"
certifi = "*"
streamlit = ">=1.24.0"
pandas = "*"
matplotlib = "*"
pillow = "*"
requests = "*"
python-dotenv = "*"
sentence-transformers = "*"
transformers = "*"
torch = "*"
huggingface-hub = "*"

[dev-packages]

[requires]
python_version = "3.12"
